.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
    min-height: 80vh;
    background: linear-gradient(217deg, rgba(255, 109, 2, 0.15) 24.54%, rgba(153, 66, 1, 0.00) 92.81%);

    .text-content{
        display: flex;
        flex-direction: column;
        gap: 30px;

        h1{
            color: $main-color;
            font-size: 2.7rem;
        }
        p{
            font-size: 1.4rem;
        }
    }
}
@include mobile {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 2rem 1.5rem;
    gap: 2rem;

    .text-content {
      align-items: center;
      gap: 20px;

      h1 {
        font-size: 2rem;
        line-height: 2.6rem;
      }

      p {
        font-size: 1rem;
      }
    }

    .illustration {
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}
